* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1450px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.text {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  margin-bottom: 20px;
}

.grid__row {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}

.grid__col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
.grid_text {
  margin-bottom: 20px;
}

.cards__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  overflow: auto;
  word-break: break-word;
  border-bottom: 2px solid #aaa;
}
.card__title {
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: 1;
}
.card__text {
  font-size: 1em;
  line-height: 1.20;
  margin-bottom: 20px;
}
.card__image {
  padding-right: 20px;
  flex: 0 0 150px;
}
.card__img {
  max-width: 100%;
}
.card__tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  list-style: none;
}
.card__tag {
  font-weight: bold;
  margin-right: 10px;
}
.cards--first-flex-item{
  order: -1;
}

@media (min-width: 700px) {
  .cards {
    margin-bottom: 40px;
  }
  .card { /* úr lausn 5 */
    width: 100%;
    max-width: 470px;
    height: 100%;
    background-color: #fff;
    border: 2px solid #aaa;
    border-radius: 5px;
  }
  .card__content {
    display: flex;
    flex: 1;
  }
}
@media (min-width: 1000px) {
  .grid__row {
    flex-direction: row;
  }
}
@media (max-width: 999px) {
  .grid__row__small-switch {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 1490) {
  .main {
    padding: 0;
  }
}
